services:
  - type: web
    name: vantage-api
    runtime: python
    region: oregon
    plan: free
    branch: main

    buildCommand: >
      pip install -r requirements.txt &&
      python manage.py collectstatic --no-input &&
      python manage.py migrate --no-input

    startCommand: >
      gunicorn config.wsgi:application
      --workers 2
      --threads 4
      --timeout 120
      --bind 0.0.0.0:$PORT
      --log-level info
      --access-logfile -

    healthCheckPath: /api/v1/health/

    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: config.settings_production

      - key: SECRET_KEY
        generateValue: true

      - key: DEBUG
        value: "False"

      - key: ALLOWED_HOSTS
        value: "vantage-api.onrender.com"

      - key: PORT
        value: "8000"

      - key: DATABASE_URL
        fromDatabase:
          name: vantage-db
          property: connectionString

      - key: REDIS_URL
        fromService:
          type: redis
          name: vantage-redis
          property: connectionString

      - key: CLOUDINARY_CLOUD_NAME
        sync: false

      - key: CLOUDINARY_API_KEY
        sync: false

      - key: CLOUDINARY_API_SECRET
        sync: false

      - key: CORS_ALLOWED_ORIGINS
        value: "https://vantage-api.onrender.com"

      - key: DJANGO_LOG_LEVEL
        value: "WARNING"

    autoDeploy: true

databases:
  - name: vantage-db
    databaseName: vantage_prod
    user: vantage
    plan: free
    region: oregon

  - name: vantage-redis
    plan: free
    region: oregon
    